entrance_length: 30
web_service: "https://apihost.com/cards/getcard"
spotify:
  user: spotify_premium_username
  pass: password
audiosink: alsaaudio
platform: 
  name: "raspberrypi"
  green: 21
  red: 16
